<?xml version="1.0" encoding="UTF-8"?>
<odoo>
  <menuitem id="jpk_main_menu" name="JPK Transfers" sequence="25" web_icon="trilab_jpk_base,static/description/icon_transfer.png" groups="jpk_user,jpk_user_see_all,jpk_manager"/>
  <menuitem id="jpk_report_menu" name="Reports" sequence="30" parent="jpk_main_menu" />
  <menuitem id="menu_report_jpk" name="JPK" parent="account.menu_finance_reports" sequence="4"/>
</odoo>
